# Python generierte Dateien
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtuelle Umgebungen
venv/
env/
ENV/
.venv/
.env/

# Distribution / Verpackung
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Unittest / Coverage-Berichte
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# Jupyter Notebook
.ipynb_checkpoints

# IDE-spezifische Dateien
.idea/
.vscode/
*.swp
*.swo
*.sublime-workspace
*.sublime-project
.spyderproject
.spyproject
.ropeproject

# OS-spezifische Dateien
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Projektspezifische Verzeichnisse
vector_db/
__pycache__/
